@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans|Scope+One');

$blue: #192BC2;
$blue-light: #B9D6F2;

$primary: $blue;
$body-background-color: $blue-light;